<h2>New Category</h2>
<form action="/admin/categories/new" method="POST" >
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">URL</label>
    <input type="text" class="form-control" id="url" name="url">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
