<nav class="navbar navbar-dark bg-dark flex-nowrap">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/">Home</a>
    {{#if user}}
    <div class="" id="navbarNav">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link nav-menu-link" href="/admin/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-menu-link" href="/admin/posts">Posts</a>
        </li>
      </ul>
    </div>
    {{/if}}
  </div>
  {{#if user}}
    <a class="nav-link" href="/logout">Logout</a>
  {{else}}
    <a class="nav-link" href="/login">Login</a>
  {{/if}}
</nav>
