{{#each posts}}
  <div class="bg-light p-5 rounded-lg m-3">
    <h2>{{title}}</h2>
    <p>{{formatDate date}}</p>
    <hr class="my-4">
    <p class="lead">{{description}}</p>
    <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
  </div>
{{/each}}