.link-button {
    text-decoration: none;
}

.ico {
    margin-right: 1rem;
}

.action {
    margin-left: 0.4rem;
}

.not-found {
    height: 35rem;
}

.not-found-title {
    margin: 1.5rem;
}

.not-found-icon {
    height: 12rem;
}

.not-found-link {
    color: black;
    text-decoration: underline;
}

.login-card {
    max-width: 40rem;
    margin: 6rem auto 0;
}

.login-button {
    width: 100%;
}
