<div class="d-flex flex-column align-items-center justify-content-center not-found">
    <img src="/svg/cone-ico.svg" class="not-found-icon" />
    <h2 class="not-found-title">Page not found</h2>
    <a href="/" class="lead not-found-link">Back to home page </a>
</div>
