<div class="card mb-3">
    <div class="card-body">
        <div class="card-text">
            <h1 class="">{{post.title}}</h1>
            <p class="lead">{{post.description}}</p>
            <p>{{formatDate date}}</p>
            <hr class="my-4 text-danger">
            {{post.content}}
        </div>
    </div>
</div>
